body{
    color: white;
    background: black;
    margin: 0px;
}

header{
    border-bottom: solid 1px white;
    padding: 20px;
    font-size: 32px;
}

section{
    margin: 20px;
}


.chamada-texto{
    margin-right: 5%;
}